/*
Created by ivanahepjuk@gmail.com
		in Adrspach 2017
*/

body {

	background-color: #141414;
	font-family: "Monospace", Courier-new;
	font-size: 14px;
	color: #333	;
	background-image: url("img/background.png");
}

p {
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #4c4c4c;
}

a {
	cursor: crosshair;
}

img {
	padding-top: 0px;
	cursor: crosshair;
}

h2	{
	font-size: 21px;
	text-align: center;
	color: #ccc;
}

textarea {
	text-transform: uppercase;
	width: 70%;
    height: 42px;
    margin-top: 14px; 
	margin-left: 0px;
	color: #4c4c4c;
	background-color: #000;
	padding: 1.5%;
	border: 0;
	/*ddd*/
}

.button {
	background-color: #000;
	border: none;
    color: white;
    padding: 3px 3px;
   /*text-align: left;*/
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px;
    cursor: crosshair;
}

.center {
	/*padding-top: 35px;
	background-color: #66ff00;*/
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.bar {
	
	width: 73%;
	height: 2px;
/*	color:#000!important;*/
	background-color:#000!important
}

.progress {
	
	height: 2px;
/*	color:#fff!important;*/
	background-color:#ff6600!important;
	width: 0%;
	
}

#inner {
	display: table;
	margin: 0 auto;
}